.form {
  width: 50%;
  margin: auto;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form button {
  margin: 1em;
}
.form h2 {
  margin-bottom: 1em;
  font-size: 32px;
}
